/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables*/
:root {
  --primary-color: #0C0C0D;
  --secondary-color: #2C3E50;
  --accent1-color: #010052;
  --accent2-color: #04A6EC;
  --light-color: #FFF;
  --dark-color: #011C2C;
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Nunito", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  background-color: var(--accent2-color);
  padding: 10px 20px;
}

header img {
  width: 100px;
}

header h1 {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  color: var(--dark-color);
}

/*Nav Flex Layout*/
nav ul {
  display: flex;
  list-style: none;
  gap: 2px;
}

nav ul li a{
  padding: 6px;
	background: #FFFFFF;
  border: 1px solid #025375;
	border-radius: 4px;  
	color: #232323;
  text-decoration: none;
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

/*Basic Styles*/

h1, h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

/*Hero Section*/
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: white;
  opacity: 0.8;
}

.hero article {
  position: absolute;
  bottom: 100px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border-radius: 4px;
}

.hero video {
  display: block;
  width: 100%;
  height: auto;
}

/*Grid Layout (History)*/
.history {
  display: grid;
  grid-template-columns: 4fr auto 4fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.history .center {
  text-align: center;
}

.history .center h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: var(--heading-font);
}

.history img  {
  width: 250px;
  background-color: var(--secondary-color);
  padding: 10px;
}

/*Rafting Adventures Section*/
.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
}

.adventures h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.adventures figure {
  width: 18%;
  text-align: center;
}

.adventures img {
  width: 100%;
  border-radius: 4px;
}

.adventures figcaption {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--dark-color);
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

footer a {
  text-align: center;
  color: #FFFFFF;
}

footer .socialmedia {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

footer .socialmedia img {
  width: 24px;
  height: 24px;
}

footer .wireframe-link {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 12px;
  background-color: #0567FA;
  color:#FFFFFF;
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

footer .wireframe-link:hover {
  background-color: var(--dark-color);
}

/* Contact Us Page CSS */

/* Heading */
.contact-heading {
  text-align: center;                 
  background-color: var(--accent1-color); 
  color: #FFFFFF;                         
  padding: 1rem;                        
  border-radius: 4px;                 
  margin: 2rem auto;
  opacity: 0.8;                                
}

/* Contact Information */

.contact-info {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
	color: #0C0C0D;
	font-family: "Nunito";
	font-weight: bold;
	font-size: 16px;
	line-height: 0.5;
	text-align: center;
	vertical-align: top;
  background-color: #E7E7E7;
  border-bottom: 3px solid var(--accent1-color);
}

.contact-info iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

/* Team Members*/

.team {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem auto;
  align-self: auto;
}

.team h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.team figure {
  flex: 1 1 250px;
  margin: 1rem;
  text-align: center;
  max-width: 200px;
}

.team img{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Form */

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-form {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  color: #000;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #E7E7E7;
}

.contact-form label {
  display: block;
  margin-top: 0.25rem;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.25rem;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 0.5rem;
}

.contact-form fieldset {
  border: 1px solid #CCC;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.contact-form legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Submit Feedback Button */

.contact-form button {
  margin-top: 1rem;
  background-color: #0567FA;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--dark-color);
}

/* Tours Page CSS */

.trips-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 16px;
  justify-content: space-between;
}

.trips-gallery h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.trips-gallery article {
  flex: 1 1 250px;
  background: #EDF2FB;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.trips-gallery img {
  border-radius: 4px;
  margin-top: 8px;
}

.trips-table {
  padding: 16px;
}

.trips-table h2 {
  margin-bottom: 8px;
}

.trips-table table {
  width: 100%;
  border-collapse: collapse;
}

.trips-table th, .trips-table td {
  border: 1px solid #DDD;
  padding: 9px;
  text-align: center;
}

.trips-table th {
  background-color: var(--accent2-color);
}

.newsletter, .cta, .home-info {
  padding: 2rem;
  text-align: center;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.newsletter input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.newsletter button {
  background-color: #010052;
  color: #FFFFFF;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: var(--accent1-color);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
}

.home-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.home-info img{
  border-radius: 6px;
}