/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Variables*/
:root {
  --primary-color: #0C0C0D;
  --secondary-color: #2C3E50;
  --accent1-color: #010052;
  --accent2-color: #04A6EC;
  --light-color: #FFF;
  --dark-color: #011C2C;
  --heading-font: "Montserrat", sans-serif;
  --body-font: "Nunito", sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  background-color: var(--accent2-color);
  padding: 10px 20px;
}

header img {
  width: 100px;
}

header h1 {
  font-size: 1.5rem;
  font-family: var(--heading-font);
  color: var(--dark-color);
}

/*Nav Flex Layout*/
nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

/*Basic Styles*/

h1, h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

/*Hero Section*/
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: white;
  opacity: 0.8;
}

.hero article {
  position: absolute;
  bottom: 200px;
  left: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border-radius: 4px;
}

/*Grid Layout (History)*/
.history {
  display: grid;
  grid-template-columns: 4fr auto 4fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.history .center {
  text-align: center;
}

.history .center h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: var(--heading-font);
}

.history img  {
  width: 250px;
  background-color: var(--secondary-color);
  padding: 10px;
}

/*Rafting Adventures Section*/
.adventures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 16px;
}

.adventures h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.adventures figure {
  width: 18%;
  text-align: center;
}

.adventures img {
  width: 100%;
  border-radius: 4px;
}

.adventures figcaption {
  margin-top: 4px;
  font-size: 0.9rem;
  color: var(--dark-color);
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent2-color);
  padding: 10px 20px;
  color: #FFF;
}

footer a {
  color: #FFF;
}

footer .socialmedia {
  display: flex;
  gap: 12px;
}

footer .socialmedia img {
  width: 24px;
  height: 24px;
}

/* Contact Page CSS */
.contact-heading {
  text-align: center;                 
  background-color: var(--accent1-color); 
  color: #FFFFFF;                         
  padding: 1rem;                        
  border-radius: 4px;                 
  margin: 2rem auto;
  opacity: 0.8;                                
}

.contact-info {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  border-bottom: 3px solid var(--accent1-color);
}

.contact-info iframe {
  width: 100%;
  height: 350px;
  border: 0;
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem auto;
  align-self: auto;
}

.team h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.team figure {
  flex: 1 1 250px;
  margin: 1rem;
  text-align: center;
  max-width: 200px;
}

.team img{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.contact-form {
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  color: #000;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #E7E7E7;
}

.contact-form label {
  display: block;
  margin-top: 0.25rem;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.25rem;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
  display: inline;
  width: auto;
  margin-right: 0.5rem;
}

.contact-form fieldset {
  border: 1px solid #CCC;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.contact-form legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contact-form button {
  margin-top: 1rem;
  background-color: var(--accent2-color);
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--accent1-color);
}







